@charset "utf-8";
html{font-size:62.5%;}
*{margin:0px;padding:0px;border:none;background:none;resize:none;outline:none;font-family:Arial,'微软雅黑';font-weight:normal;}
a,a:link,a:active,a:visited,a:hover{display:inline-block;text-decoration:none;color:#232a31;}
body{color:#232a31;background:#232a31;font-size:1.4em;}
.clear{display:block;clear:both;}
div.header{width:100%;padding:10px 0px; height:100%}
div.header>.con{position:relative;width:90%;margin:0 auto;}
div.header>.con>span.log{float:left;display:inline-block;width:260px;height:60px;background-image:url(../../images/logo.png);background-repeat:no-repeat;background-position:center center;}
div.header>.con>span.nav{float:right;padding:10px 0px;}
div.header>.con>span.nav>a{display:inline-block;height:40px;line-height:40px;text-align:center;margin-left:40px;font-size:16px;color:#fff;}
div.header>.con>span.nav>a:hover,div.header>.con>span.nav>a.cc{color:#5cb85c;}
div.header>.con>span.nav>a.btn{width:90px;text-align:center;color:#fff;border-radius:6px;background:#5cb85c;}
div.header>.con>span.nav>a.btn:hover{background:#d44c32;}
a.focus{display:block;width:100%;background:url(../../images/focus_image.png) no-repeat center center;background-size:auto 100%;}
a.focus>img{display:inline-block;width:100%;}
div.content{width:100%;padding:50px 0px;background:#fff;}
div.content>.con{width:100%;margin:0 auto;text-align:center;}
div.content>.con>p.msgt1{width:100%;margin:0 auto;text-align:center;font-size:36px;}
div.content>.con>p.msgt2{width:100%;margin:0 auto;text-align:center;padding:10px 0px;font-size:30px;}
div.content>.con>p.msgt3{width:240px;height:3px;margin:0 auto;border-top:solid 1px #a7aaad;}
div.content>.con>p.msgt3>i{float:left;display:inline-block;width:30px;height:3px;margin-left:105px;margin-top:-2px;background:#232a31;}
div.content>.con>a{display:inline-block;width:240px;height:200px;margin:30px;background-repeat:no-repeat;background-position:center center;background-size:100% auto;}
div.content>.con>a.pro1{background-image:url(../../images/c_icon_1.png);}
div.content>.con>a.pro1:hover{background-image:url(../../images/c_icon_1_s.png);}
div.content>.con>a.pro2{background-image:url(../../images/c_icon_2.png);}
div.content>.con>a.pro2:hover{background-image:url(../../images/c_icon_2_s.png);}
div.content>.con>a.pro3{background-image:url(../../images/c_icon_3.png);}
div.content>.con>a.pro3:hover{background-image:url(../../images/c_icon_3_s.png);}
div.content>.con>a.pro4{background-image:url(../../images/c_icon_4.png);}
div.content>.con>a.pro4:hover{background-image:url(../../images/c_icon_4_s.png);}
div.footer{width:100%;}
div.footer>.con{position:relative;width:90%;text-align:center;margin:0 auto;}
div.footer>.con>span{display:inline-block;color:#acadaf;font-size:16px;padding:20px 0px;}